<div class="sidebar-container" left-menu-nav>
	<div class="sidebar-menu">
		<ul class="nav-route-items sidebar-nav nav-pills nav-stacked menu">
			<li><a [routerLink]="['dashboard']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x"></i></span><span class="menu-text">Dashboard</span></a></li>
			<li><a [routerLink]="['interviews']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x"></i></span><span class="menu-text">Interviews</span></a></li>
		</ul>
	</div>
</div>