.leaves{
    font-size: 20px;
    font-weight: bold;
}
.leaves-optn{
   
    font-size: 15px;
    color: 	#cccccc;
}
.leave_info{
    display: inline-block;
}
.borderless td, .borderless th {
    border: none;
  
}
.borderless td{
    color: 	#cccccc;
}
.img-thumbnail{
    min-width: 103px;
    height: 120px;
    margin-top: 15px;
}
h4{
    font-size: 16px;
}