.Encash{
    width: 130px;
    vertical-align: middle;
    margin-top: 20px;
    background-color: #7A5DA3;
    color: white;
}
.container-border{
    border-left: 1px solid #eee;
   
}

.applycompoff-text h5 span {
background: #fff;
position: relative;
top: -7px;
padding: 0px 10px;
}
.leavesbox_starts {
  padding: 15px 5px;
}
.indicate-leave{
    margin-top: -16px;
   .leave_info{
        display: inline-block;
        .leaves{
            font-size: 20px;
            margin-top: 1em;
            font-weight: bold;
            .leaves-optn{
                font-size: 13px;
                color: 	#969494;
             }
             
        }
    }
}
h4{
    font-size: 16px;
}
.marginTop{
    margin-top: 10px;
}
.work-from-home .ag-theme-fresh .ag-cell {
  line-height: 2.31em !important;
}
.wfh-radio {
    padding: 0.6em 0.6em 0 0.6em;
}