<form #interviewPanelForm="ngForm" class="interview-panel-form" novalidate>
    <p class="heading">INTERVIEW PANEL {{panelDetails.panelNumber}}<span class="subheading"> | ALL MANDATORY*</span><span style="margin-right: 2.3em" class="pull-right"><a class="glyphicon glyphicon-plus-sign interview-panel-icon" (click)="saveAddNew()"></a><span class="panel-icon-text" (click)="saveAddNew()">&nbsp;Add Panel</span><a class="glyphicon glyphicon-remove-sign interview-panel-icon" (click)="removePanel()"></a><span class="panel-icon-text" (click)="removePanel()">&nbsp;Remove Panel</span></span></p>
    <div class="row">
        <div class="form-group col-md-4 col-xs-12 col-sm-6">
            <label class="labelText" for="level">Level*</label>
            <select name="level" class="form-control" [(ngModel)]="panelDetails.level" required #panelLevelRef="ngModel" (click)="onSelect(panelDetails.level)" (blur)="onSelect(panelDetails.level)">
                <option *ngFor="let level of interviewLevel" [value]="level.code">{{level.description}}</option>
            </select>
            <div [hidden]="panelLevelRef.valid || panelLevelRef.untouched" class="alert alert-danger">Please select the Panel level</div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-6">
            <label class="labelText" for="panelName">Panel Name*</label>
            <input type="text" name="panelName" class="form-control" [(ngModel)]="panelDetails.name" required #panelNameRef="ngModel"/>
            <div [hidden]="panelNameRef.valid || panelNameRef.pristine" class="alert alert-danger">Please enter the Panel Name</div>
        </div>
        <!--<div class="form-group col-md-4 col-xs-12 col-sm-12">
            <label class="labelText" for="interviewDate">Interview Date</label>
            <input type="date" name="interviewDate" class="form-control" [(ngModel)]="panelDetails.interviewDate" />
        </div>-->
        <!--<div class="form-group col-md-4 col-xs-12 col-sm-12">
            <label class="labelText" for="practice">Practice</label>
            <select name="practice" class="form-control" [(ngModel)]="panelDetails.practice">
                <option value="0">Select</option>
                <option value="UX">UX</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-12">
            <label class="labelText" for="department">Department</label>
            <select name="department" class="form-control" [(ngModel)]="panelDetails.department">
                <option value="0">Select</option>
                <option value="design">design</option>
            </select>
        </div>-->
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 col-sm-12">
            <label class="labelText" for="panelMembers">Panel Members*</label>
            <div class="tag-section">
                <div class="input-group selection-group tag-input-control tag-input">
                    <tag-input name="panelMembers" [(ngModel)]="panelDetails && panelDetails.panelMembers" #panelInput [disable]="true" placeholder="" secondaryPlaceholder="" inputId="panelMembers" required #panelMemberRef="ngModel">
                    <ng-template let-item="item" let-index="index">
                    <span>
                        {{ item }}
                    </span>
                    <delete-icon (click)="panelInput.removeItem(item, index)">
                    </delete-icon>
                    </ng-template>
                    </tag-input>
                    <div class="input-group-addon">
                        <multi-select-modal *ngIf="panelMemberTags" [title]="panelsTagTitle" [list]="panelMemberTags.panelMembers" [searchTitle]="panelSearch" (loadSelectedItems)="loadPanelMembers($event)"></multi-select-modal>
                    </div>
                </div>
                <div [hidden]="panelMemberRef.valid || panelMemberRef.pristine" class="alert alert-danger">Please select the Panel Nembers</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 col-sm-12">
            <label class="labelText" for="selectionCriterion">Selection Criterion*
            </label>
            <div class="tag-section">
                <div class="input-group selection-group tag-input-control tag-input">
                    <tag-input name="selectionCriterion" [(ngModel)]="panelDetails && panelDetails.selectionCriterion" #selectionInput [disable]="true" placeholder="" secondaryPlaceholder="" inputId="selectionCriterion" required #selectionCritRef="ngModel">
                    <ng-template let-item="item" let-index="index">
                    <span>
                        {{ item }}
                    </span>
                    <delete-icon (click)="selectionInput.removeItem(item, index)" >
                    </delete-icon>
                    </ng-template>
                    </tag-input>
                    <div class="input-group-addon"><multi-select-modal *ngIf="panelMemberTags" [title]="criterionTagTitle" [list]="panelMemberTags.panelCriterion" [searchTitle]="criterionSearch" (loadSelectedItems)="loadSelectionCriterion($event)"></multi-select-modal></div>
                </div>
                <div [hidden]="selectionCritRef.valid || selectionCritRef.pristine" class="alert alert-danger">Please select the Selection Criterion</div>
            </div>
        </div>
    </div>
</form>