<div class="sidebar-container" left-menu-nav>
	<div class="sidebar-menu">
		<ul class="nav-route-items sidebar-nav nav-pills nav-stacked menu">
			<li><a [routerLink]="['dashboard']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x"></i></span><span class="menu-text">Dashboard</span></a></li>
			<li><a [routerLink]="['new']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-address-card fa-stack-1x"></i></span><span class="menu-text">Create New Hiring Request</span></a></li>
			<li><a [routerLink]="['myrequests']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-address-card fa-stack-1x"></i></span><span class="menu-text">My Hiring Requests</span></a></li>
			<li><a [routerLink]="['jobdesc']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-plus fa-stack-1x"></i></span><span class="menu-text">Create New Job Description</span></a></li>
			<li><a [routerLink]="['jobdesclist']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-briefcase fa-stack-1x"></i></span><span class="menu-text">Job Descriptions</span></a></li>
			<li><a [routerLink]="['profiles']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-circle-o fa-stack-1x"></i></span><span class="menu-text">Proflies Screening</span></a></li>
			<!--<li><a [routerLink]="['reports']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text-o fa-stack-1x"></i></span><span class="menu-text">Reports</span></a></li>-->
		</ul>
	</div>
</div>