<div class="container hiring-manager-container">
	<div class="col-xs-2 col-sm-2 col-md-2 left-sidebar">
		<recruiter-left-navigation></recruiter-left-navigation>
	</div>
	<div class="col-xs-10 col-sm-10 col-md-10 left-shadow content-wrapper">
		<div class="sub-header-container">
		   	<span class="pull-left"><i class="fa fa-bars fa-lg sidebaricon"></i></span>
		   <h4 class="sub-header">{{URLtitle}}</h4>
		</div>
		<div class="row prospect-header"></div>
		<router-outlet></router-outlet>
	</div>
</div>