<div class="sidebar-container" left-menu-nav>
	<div class="sidebar-menu">
		<ul class="nav-route-items sidebar-nav nav-pills nav-stacked menu">
			<li><a [routerLink]="['dashboard']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x"></i></span><span class="menu-text">Dashboard</span></a></li>
			<li><a [routerLink]="['assign']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-o fa-stack-1x"></i></span><span class="menu-text">Assign Executive</span></a></li>
			<li><a [routerLink]="['profiles']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-circle-o fa-stack-1x"></i></span><span class="menu-text">Profiles Summary</span></a></li>
			<li><a [routerLink]="['offers']" routerLinkActive="active-link" class="menu-list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope-o fa-stack-1x"></i></span><span class="menu-text">Offers</span></a></li>
		</ul>
	</div>
</div>