<div class="footer" style="margin-bottom:0">
	<div class="footer-large">
		<p class="text-right">Best Viewed in Chrome (v52 & above), Mozilla (v47 & above) and Internet Explorer (v11 & above)&nbsp;<span style="float:left">Copyright @2018, Innominds Software Inc. All rights reserved. <span *ngIf="version">(v{{version}})</span></span></p>
	</div>
	<div class="footer-medium">
		<p class="footer-text">Best Viewed in Chrome (v52 & above), Mozilla (v47 & above) and Internet Explorer (v11 & above)</p>
		<p class="footer-text">Copyright @2018, Innominds Software Inc. All rights reserved. <span *ngIf="version">(v{{version}})</span></p>
	</div>
</div>