<div class="col-md-12 hiring-need-div"><span class="pull-left need-text"><span class="need-heading" style="padding-left:0.5em;">SUPPLEMENTARY ANNEXURE</span></span><span class="pull-right"><a class="glyphicon glyphicon-chevron-right annexure-plus-icon" (click)="toggleHiringNeedDetails()"></a><a class="glyphicon glyphicon-chevron-down annexure-minus-icon" (click)="toggleHiringNeedDetails()"></a></span></div>
<div class="annexure-details close">
	<textarea name="annexure" rows=10 class="form-control" [(ngModel)]="annexure.value" [readonly]="readonly"></textarea>
</div>