<div class="offer-history-container row">
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10">
			HIRING HISTORY</div>
		<div class="col-sm-10 col-md-10 col-lg-10">
			Job Code - UX120981 </div>
		<div class="col-sm-10 col-md-10 col-lg-10">
			UX Designer </div>
		<div class="col-sm-10 col-md-10 col-lg-10">
			Location - Hyderabad, India
		</div>
	</div>

	<div class="timeline-container">
        <div class="timeline-header">
            <h1>Hiring Process Timeline</h1>
        </div>
		<ul class="timeline col-sm-12 col-md-12 col-lg-12">
			<li>
				<div class="timeline-badge timeline-start"><i class="timeline-start-icon"></i></div>
			</li>
			<li>
				<div class="timeline-badge"><i class="timeline-notification-icon"></i></div>
				<div class="timeline-panel col-sm-5 col-md-5 col-lg-5 col-xs-5">
					<div class="timeline-heading">
						<h4 class="timeline-title">Hiring Alert</h4>
					</div>
					<div class="timeline-body ">
						<p>Mussum ipsum cacilds, vidis litro abertis. </p>
					</div>
				</div>
			</li>
			<li >
				<div class="timeline-badge "><i class="timeline-contact-icon"></i></div>
				<div class="timeline-panel col-sm-5 col-md-5 col-lg-5">
					<div class="timeline-heading">
						<h4 class="timeline-title">Interview scheduled</h4>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge "><i class="timeline-notification-icon"></i></div>
				<div class="timeline-panel col-sm-5 col-md-5 col-lg-5">
					<div class="timeline-heading">
						<h4 class="timeline-title">Request for Resend</h4>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge "><i class="timeline-work-icon"></i></div>
				<div class="timeline-panel col-sm-5 col-md-5 col-lg-5">
					<div class="timeline-heading">
						<h4 class="timeline-title">Request for Resend</h4>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge timeline-end"><i class="timeline-end-icon"></i></div>
			</li>
		</ul>
	</div>
</div>