
.hiring-module{
     width:100%;
 }
 .hiring-manager-container {     
        /*box-shadow:0px 2px 5px 0px rgba(0,0,0,0.10);*/
        flex:2;     
        width:100%;
        /*min-height: 42em;*/
        /*height: 100vh;*/
        .sub-header{
            margin-top:5px important;
            line-height:13px;
            @media (max-width: 767px) {
                font-size: 14px;
                margin: 4px 10px 6px 10px;
            }
        }
    .sub-header-container {      
        line-height:13px;      
    }
    .left-shadow {
        box-shadow :  -3px 0px 0px 0px hsla(0, 0%, 62%, 0.11);
        bottom:0;
        min-height:100%;
    }
    .prospect-header {
        border:1px solid #e5e5e5;
    }
    ul.nav-route-items {
        padding-left:0;
        list-style:none;
        li{
            //padding:8px 5px 0 0;
            padding:6px 2px 0 0;
           // border-bottom:2px solid #dfdada;
            font-size:13px;
        }
    }
    .button-text {
        font-family:$font-family;
        font-size:14px;
        color:#ffffff;
        letter-spacing:$letter-spacing;
        text-align:center;
    }
    .login-register-btn {
        background:rgba(30,52,72,0.96);
        border-radius:2px;
        height:42px;
        @extend .button-text;
        margin-left:10px;

    }
    .login-cancel-btn{
        background:#9b9b9b;
        border-radius:2px;
        height:42px;
         @extend .button-text;        
    }
    .button-grp {
        padding-right: 50px;
    }
   
 }
    .prospect-hire-notification-container {
        background:rgba(39,70,98,0.02);
        box-shadow:0px 2px 5px 0px rgba(0,0,0,0.10);
        flex:1;
        margin-left: 21px;
      }
         