<button type="button" class="offer-create-button pull-right" (click)="showDialog()" data-toggle="modal" data-target="#hiringDetails" [disabled]="disable">View Hiring Details</button>
<div class="modal hiring-details-modal" id="hiringDetails" tabindex="-1" role="dialog" aria-labelledby="hiringDetailsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" [hidden]="!display">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true" class="remarks-close">&times;</span>
        </button>
        <h3 class="modal-title" id="hiringDetailsLabel">Hiring Details</h3>
      </div>
      <div class="modal-body remarks-body">
        <form #basicHiringDetailsForm="ngForm" novalidate>
          <div #basicHiringDetails [hidden]="false" *ngIf="detailsFrmHiringRequestData">
            <div class="row card">
              <div class="row">
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="hiringfor">Hiring For*</label>
                  <select name="hiringfor" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.hiringReason" [disabled]="viewMode"  required>
                    <option *ngFor="let reason of hiringForOptions" [value]="reason.code">{{reason.description}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="clientname">Client Name*</label>
                  <select name="clientname" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.clientId" [disabled]="viewMode" required>
                    <option *ngFor="let client of clientNameOptions" [value]="client.id">{{client.clientName}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="department">Department*</label>
                  <select name="department" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.departmentId" [disabled]="viewMode" required (change)="loadPracticesByDepartment()">
                    <option *ngFor="let dept of departmentOptions" [value]="dept.id">{{dept.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="hiringtype">Hiring Type*</label>
                  <select name="hiringtype" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.hiringType" [disabled]="viewMode" required>
                    <option *ngFor="let type of hiringTypeOptions" [value]="type.code">{{type.description}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="hiringmanager">Hiring Manager*</label>
                  <select name="hiringmanager" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.hiringManagerId" [disabled]="viewMode" required>
                    <option value="1">Ram Kishore</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 col-sm-12">
                  <label class="labelText" for="priority">Priority*</label>
                  <select name="priority" class="form-control" [(ngModel)]="detailsFrmHiringRequestData.hiringPriority" [disabled]="viewMode" required>
                    <option *ngFor="let priority of priorityOptions" [value]="priority.code">{{priority.description}}</option>
                  </select>
                </div>
                <div class="form-group col-md-8 col-xs-12 col-sm-12">
                  <label class="labelText" for="purpose">Purpose*</label>
                  <input type="text" name="purpose" class="form-control" maxlength="128" [(ngModel)]="detailsFrmHiringRequestData.purpose" [disabled]="viewMode" required/>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div #hiringRequestNeeds [hidden]="false">
          <div class="row hiring-request-need-details hiring-need-container">
            <cpo-hiring-request-need-details [hiringReqId]="hiringId" [comboData]="hiringNeedComboData" [needData]="need" [needIndex]="i" *ngFor="let need of needList; let i = index" (remove)="removeNeed($event)"></cpo-hiring-request-need-details>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="remarks-details-button" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>