.email-container {
    .modal-dialog {
        position: relative;
        top: 6em;
        left: 0.6em;
    }
    .modal-button {
        border-radius: 2px;
        min-width: 72px;
        height: 42px;
        margin-left: 0.5em;
    }
    .modal-details-btn {
        @extend .modal-button;
        color: #ffffff;
        background: rgba(39, 70, 98, 0.96);
    }
    .modal-details-btn[disabled] {
        cursor: not-allowed;
    }
    .modal-close {
        font-size: 1.4em;
        margin-right: 0.5em;
    }
    .email-address {
        width: 95%;
        margin-left: 0.9em;
    }
    .email-editor .ui-editor-container {
        height: 150px;
        margin: 0.5em 0 4em 0;
    }
}