.export-as-dropdown{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.nav{
    margin-left: 14px;
}
.verticalLine {
    border-left: thick solid #000;
}
.indicate-leave{
    margin-top: -13px;
   .leave_info{
        display: inline-block;
        .leaves{
            font-size: 20px;
            margin-top: 1em;
            font-weight: bold;
            .leaves-optn{
                font-size: 13px;
                color: 	#969494;
             }
             
        }
    }
    
}
.tm-rpt-grid-title{
    padding-left: 1em;
}

h4{
    font-size: 16px;
}