.selected-details {
    
    .selected-requests-title {
        margin-left: 0.8em;
    }

    .selected-requests-button {
        border-radius: 2px;
        min-width: 72px;
        height: 35px;
        margin-left: 0.5em;
    }
    .selected-requests-notify-button {
        @extend .selected-requests-button;
        color: #ffffff;
        background: rgba(39, 70, 98, 0.96);
    }
    .grid-download-icon {
        margin-right: 1.2em;
    }
}
