.borderless td, .borderless th {
    border: none;
}
.borderless td{
    color: 	#9e9191;
}
.img-thumbnail{
    min-width: 103px;
    height: 120px;
    margin-top: 15px;
}
.leave-info-container {
    margin: 0.3em;
    display: inline-block;
    text-align: center;
}
.leave-text {
    font-size:12.5px;
    margin-top:0.7em;
}
.leave {
    font-weight: bold;
    font-size:1.7em;
    padding-top:0.4em;
}




