<div class="row">
  <div class="col-md-10" *ngIf="requestedData">
    <div>
      <h4>{{requestedData.empName}}</h4>
      <p>{{requestedData.days}} day-<span>{{requestedData.leaveType}}</span></p>
      <p>{{requestedData.from | date}} to&nbsp; <span>{{requestedData.to | date}}</span></p>
    </div>
    <div>
      <p>Description:<span>{{requestedData.description}}</span></p>
      <p>Approved By:<span>{{requestedData.appliedTo}}</span></p>
    </div>
  </div>
</div>
<div class="row">
    <div class=" col-md-offset-1 col-md-4">
        <button (click)="approveLeave(requestedData,'APPROVED')" type="button" class="btn btn-apply" data-color="primary">Approve</button>
     </div>
     <div class="col-md-6">
        <button type="button" (click)="approveLeave(requestedData,'REJECTED')" class="btn btn-reject" data-color="primary">Reject</button>
     </div>
</div>




