<div class="row marginTop" style="width:91.5%">
    <div class="col-xs-3">
        <button type="button" class="apply-button btn btn-primary  apply-leave-btn" (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="col-xs-9" style="padding: 0.4em;margin-top:0.3em">
        <div class="pull-right">
            <div class="radio-info radio-inline">
                <input type="radio" id="inlineRadio1" value="option1" name="filter" (click)="getRequests('ALL')">
                <label for="All"> All </label>
            </div>
            <div class=" radio-inline">
                <input type="radio" value="option2" name="filter" checked (click)="getRequests('PENDING')">
                <label for="Pending"> Pending </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <ag-grid-angular #agGrid style="width:90%; height:310px;" [gridOptions]="gridOptions" enableColResize enableSorting enableFilter
                (gridSizeChanged)="resizeColumns($event)" [context]="context" [paginationPageSize]="paginationPageSize" class="ag-theme-fresh teamreqst-grid"
                [columnDefs]="columnDefs"></ag-grid-angular>
        </div>
        <nav>
            <p-paginator [style]="{'background':'none','border':'none'}" [rows]="pageSize" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
        </nav>
    </div>
    <div class="col-md-12" [hidden]="isPetarnity || isData">
        <h4>Maternity Applied</h4>
        <div>
            <ag-grid-angular #agGrid [gridOptions]="gridMLOptions" style="width:90%; height:100px;" enableColResize enableSorting enableFilter
                (gridSizeChanged)="resizeColumns($event)" [context]="context" class="ag-theme-fresh teamreqst-grid" [columnDefs]="columnDefsML"></ag-grid-angular>
        </div>
    </div>

    <div class="col-md-12" [hidden]="!isPetarnity || isData">
        <h4>Paternity Applied</h4>
        <div>
            <ag-grid-angular #agGrid style="width:90%; height:100px;" [gridOptions]="gridPLOptions" enableColResize enableSorting enableFilter
                (gridSizeChanged)="resizeColumns($event)" [context]="context" class="ag-theme-fresh teamreqst-grid" [columnDefs]="columnDefsPL"></ag-grid-angular>
        </div>
    </div>
</div>